.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .search__header {
    display: flex;
    justify-content: center; }
  .search__form {
    display: flex;
    justify-content: center; }
  .search__input {
    width: 80vw;
    border: 1px solid #e4e4e4;
    padding: .5rem;
    border-radius: 4px; }
  .search__results {
    max-height: 30vh;
    width: 80vw;
    padding: .5rem;
    background-color: white;
    box-shadow: inset 0 0 0.5rem #b6b6b6;
    border-radius: 4px;
    list-style: none;
    overflow-y: scroll; }
