.header {
  display: flex;
  justify-content: center;

  background-color: #fff;
  width: 100%;

  box-shadow: 0 .25rem .5rem rgb(182, 182, 182);

  font-family: 'Russo One', sans-serif;
  color: rgb(10, 41, 66);

  h1 {
    margin: .5rem;
  }
}