.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem #b6b6b6;
  font-family: 'Russo One', sans-serif;
  color: #0a2942; }
  .header h1 {
    margin: .5rem; }
