.top-rated {
  height: 100%; }
  .top-rated__header {
    display: flex;
    justify-content: center; }
  .top-rated__list {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    overflow-X: scroll;
    margin: 1rem 0; }
  .top-rated__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 0 1rem #b6b6b6;
    border-radius: 4px;
    height: 50vh;
    width: 50vw;
    max-width: 200px;
    max-height: 300px;
    padding: 1rem;
    margin: .5rem; }
  .top-rated__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: .5rem 0; }
  .top-rated__year {
    display: flex;
    justify-content: center;
    margin: 1rem 0; }
  .top-rated__add-button {
    border-radius: 4px;
    background-color: #245e8d;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    height: 2rem; }
  .top-rated__thumbnail {
    width: auto;
    height: auto; }
