.top-rated {
  height: 100%; }
  .top-rated__header {
    display: flex;
    justify-content: center; }
  .top-rated__list {
    display: flex;
    overflow-X: scroll;
    margin: 1rem 0; }
  .top-rated__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    background-color: #fff;
    box-shadow: 0 0 1rem #b6b6b6;
    border-radius: 4px;
    height: 40vh;
    width: 50vw;
    padding: 1rem;
    margin: .5rem; }
  .top-rated__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0; }
  .top-rated__year {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0; }
