.top-rated {
  height: 100%;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__list {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    overflow-X: scroll;
    margin: 1rem 0;  
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;

    background-color: #fff;    
    box-shadow: 0 0 1rem rgb(182, 182, 182);
    border-radius: 4px;

    height: 50vh;
    width: 50vw;
    max-width: 200px;
    max-height: 300px;
    
    padding: 1rem;
    margin: .5rem;
  }

  &__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
    margin: .5rem 0;
  }

  &__year {
    display: flex;
    justify-content: center;

    margin: 1rem 0;
  }

  &__add-button {
    border-radius: 4px;
    background-color: rgb(36, 94, 141);

    color: #fff;
    font-size: 1rem;

    margin: 0;
    height: 2rem;
  }
  
  &__thumbnail {
    width: auto;
    height: auto;
  }
}
