.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #b6b6b6;
  border-radius: 4px; }
  .game__name {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #1c4c72;
    text-align: center; }
  .game__year {
    display: flex;
    justify-content: center;
    margin: .5rem; }
  .game__players {
    display: flex;
    justify-content: center;
    margin: .5rem; }
  .game__image {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
    max-height: 380px;
    max-width: 760px;
    width: 80vw;
    margin: 1rem 0; }
  .game__attribute-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
  .game__collection-type {
    margin: 0 .5rem; }
  .game__add-button {
    display: flex;
    align-self: center;
    border-radius: 4px;
    background-color: #245e8d;
    color: #fff;
    font-size: 1rem;
    margin: .5rem 0;
    height: 2rem; }
